.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--black);
  padding: 32px 16px;

  &__separator {
    border-bottom: 5px solid var(--white);
    width: 45px;
    display: block;
    margin: 8px 0;
  }

  &__top {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;

    a {
      background: var(--white);
      height: 38px;
      display: flex;
      max-width: 195px;
      gap: 17px;
      padding: 0 18px;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-weight: 600;
      line-height: 16.37px;
      text-align: left;
      text-decoration-skip-ink: none;
      border-radius: 5px;
      border: 0;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    color: var(--white);
  }

  &__location {
  }
}
