:root {
  --white: #fff;
  --black: #000;
  --red: #f8475f;
  --gray1: #f2f2f2;
  --gray2: #e6e8ea;
  --gray3: #c0c0c0;
  --gray4: #7a7a7a;
  --gray5: #585858;
  --gray6: #333333;
}

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;

  background-color: var(--white);
}

body,
input,
textarea,
button {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

button {
  cursor: pointer;
}
